<a href="https://colab.research.google.com/github/danielbenjaminn/data_test_05_2022/blob/main/Teste.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Importando dados

In [51]:
import pandas as pd
import seaborn as sns

#A = 00h00 - 07h59, B = 08h00 - 15h59, C = 16h00 - 23h59

uri = "https://raw.githubusercontent.com/danielbenjaminn/data_test_05_2022/main/data.csv"
dados = pd.read_csv(uri)

#Explorando dados

In [50]:
dados.head()

   Unnamed: 0 var       X       Y
0           0   C  231.84  580.44
1           1   C  230.37  602.28
2           2   C  250.53  557.76
3           3   C   78.75  288.96
4           4   B   -1.26   -2.52

In [22]:
dados.shape

(38012, 4)

In [41]:
dados_trabalho = dados[['var','X','Y']]
dados_trabalho

      var       X       Y
0       C  231.84  580.44
1       C  230.37  602.28
2       C  250.53  557.76
3       C   78.75  288.96
4       B   -1.26   -2.52
...    ..     ...     ...
38007   C  260.61  584.08
38008   C  259.14    0.00
38009   B   -1.05   -2.80
38010   B    7.56   13.16
38011   C    5.25   12.60

[38012 rows x 3 columns]

In [47]:
dados_a = dados_trabalho.loc[dados['var'] == 'A']
dados_b = dados_trabalho.loc[dados['var'] == 'B']
dados_c = dados_trabalho.loc[dados['var'] == 'C']

descricoes = dados.groupby('var')

descricao_a = dados_a[['X', 'Y']].mean()
descricao_b = dados_b[['X', 'Y']].mean()
descricao_c = dados_c[['X', 'Y']].mean()

In [49]:
descricoes[['X', 'Y']].describe()

           X                                                             \
       count        mean         std   min   25%    50%     75%     max
var
A     1584.0   -1.264375    0.121088 -1.47 -1.26  -1.26   -1.26    0.00
B    12665.0   41.271831   80.061662 -2.31 -1.26  -1.26   33.18  261.24
C    23763.0  105.626249  107.744854 -2.52 -1.26  74.97  223.65  309.96

           Y
       count        mean         std   min   25%    50%     75%     max
var
A     1584.0   -2.486768    0.728701 -3.08 -2.80  -2.80   -2.52    0.00
B    12665.0  101.009497  199.812721 -3.08 -2.80  -2.52   68.88  653.24
C    23763.0  250.713311  273.572584 -3.08 -2.52  88.48  567.84  662.76

Removendo Outliers

In [ ]:
Y= dados_trabalho.y

Q1 = Y.quantile(.25)
Q3 = Y.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ
dados.hist(['X'])
dados_new.hist(['X'])
selecao = (Y >=limite_inferior) & (Y <= limite_superior)
dados_new = dados[selecao]

In [ ]:
X_C = dados_c.X

Q1 = X_C.quantile(.25)
Q3 = X_C.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ
selecao = (X_C >=limite_inferior) & (X_C <= limite_superior)
dados_new = dados_c[selecao]
dados.hist(['X'])
dados_new.hist(['X'])

In [ ]:
Y_A = dados_a.Y

Q1 = Y_A.quantile(.25)
Q3 = Y_A.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ
selecao = (Y_A >=limite_inferior) & (Y_A <= limite_superior)
dados_new = dados_a[selecao]
dados.hist(['Y'])
dados_new.hist(['Y'])

In [ ]:
Y_B = dados_b.Y

Q1 = Y_B.quantile(.25)
Q3 = Y_B.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ
selecao = (Y_B >=limite_inferior) & (Y_B <= limite_superior)
dados_new = dados_b[selecao]
dados.hist(['Y'])
dados_new.hist(['Y'])

In [ ]:
Y_C = dados_c.Y

Q1 = Y_C.quantile(.25)
Q3 = Y_C.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ
selecao = (Y_C >=limite_inferior) & (Y_C <= limite_superior)
dados_new = dados_c[selecao]
dados.hist(['Y'])
dados_new.hist(['Y'])

In [65]:
#Removendo de X

X= dados_trabalho.X

Q1 = X.quantile(.25)
Q3 = X.quantile(.75)
IIQ = Q3 - Q1
limite_inferior = Q1 - 1.5 * IIQ
limite_superior = Q3 + 1.5 * IIQ
selecao = (X >=limite_inferior) & (X <= limite_superior)
dados_new = dados[selecao]

In [67]:
dados_new = pd.DataFrame()
for tipo in descricoes.groups.keys():
    eh_tipo = dados_trabalho['var'] == tipo
    eh_dentro_limite = (dados_trabalho['X'] >= limite_inferior[selecao]) & (dados_trabalho['X'] <= limite_superior[selecao])
    selecao = eh_tipo & eh_dentro_limite
    dados_selecao = dados[selecao]
    dados_new = pd.concat([dados_new, dados_selecao])

IndexError: ignored